<!DOCTYPE html>
<html lang="en">
<head>
    <title>SeulementVentilateurs</title>
    <link href="/views/css/home.css" rel="stylesheet">
    <?php include(ROOT.'/views/base_head.html'); ?>
</head>
<body class="site-body">
    <div id="app">
        <header class="site-header">
            <?php include(ROOT.'/views/navbar/navbar.html'); ?>
        </header>
        <div class="site-content">
            <?php include(ROOT.'/views/home_content.html'); ?>
            <?php include(ROOT.'/views/image_feed.html'); ?>
        </div>
        <footer class="site-footer">
            <?php include(ROOT.'/views/footer.html'); ?>
        </footer>
    </div>

    <!-- development version, includes helpful console warnings -->
    <script type="application/javascript" src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
    <script type="application/javascript" src="js/App.js"></script>
</body>
