<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>SeulementVentilateurs</title>
    <link href="/views/css/base.css" rel="stylesheet">
    <link href="/views/css/navbar.css" rel="stylesheet">
</head>
<body class="site-body">
<header class="site-header">
    <?php include(ROOT.'/views/navbar/navbar.html'); ?>
</header>
<div class="site-content">
    <p class="text">Vous n'êtes pas connecté</p><br>
    <a href="index.php?controller=login" class="connect-button">Connexion</a>
</div>
<footer class="site-footer">
    <?php include(ROOT.'/views/footer.html'); ?>
</footer>
</body>
