<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link href="/views/css/base.css" rel="stylesheet">
    <link href="/views/css/navbar.css" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Zen+Kaku+Gothic+New:wght@300&display=swap" rel="stylesheet">
</head>
<body>
<header class="site-header">
    <?php include(ROOT.'/views/navbar/navbar.html'); ?>
</header>
<div class="site-content">

</div>
<footer class="site-footer">
    <?php include(ROOT.'/views/navbar/footer.html'); ?>
</footer>
</body>
</html>