/*MODAL*/
.modal {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0);
    transition: 200ms ease-in-out;
    border-radius: 10px;
    z-index: 10;
    overflow: hidden;
    overflow-y: scroll;

    background-color: #15202B;
    width: 500px;
    max-width: 90%;
    max-height: 90vh;
    min-width: 300px;
    padding-left: 20px;
    padding-right: 5px;
}

.modal::-webkit-scrollbar {
    width: 15px;
}

.modal::-webkit-scrollbar-track {
    background-color: transparent;
}

.modal::-webkit-scrollbar-thumb {
    background-color: #656565;
    border-radius: 20px;
    border: 6px solid transparent;
    background-clip: content-box;
}

.modal::-webkit-scrollbar-thumb:hover {
    background-color: #494949;
}

.modal.active{
    transform: translate(-50%, -50%) scale(1);
}

.modal .close-button{
    color: #F8FDFF;
    cursor: pointer;
    border: none;
    outline: none;
    background: none;
    font-size: 2rem;
}

#overlay{
    position: fixed;
    opacity: 0;
    transition: 200ms ease-in-out;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.74);
    pointer-events: none;
}

#overlay.active{
    pointer-events: all;
    opacity: 1;
}