nav{
    margin: 0;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
}

/* BRAND */
.brand-div{
    width: 33%;
    height: 80%;
}

.brand-img{
    display: flex;
    padding-left: 5%;
    max-height: 50px;
}

/* LOGO */
.logo-div{
    display: flex;
    align-items: center;
    height: 100%;
    width: 33%;
}

.logo-div {
    width: 100%;
    height: 80%;
    display: flex;
    justify-content: center;
}

.logo-img{
    max-width: 50px;
    max-height: 50px;
    transition: 1.8s;
}

.logo-img:hover {
    transform: rotate(720deg);
    transition: 1.8s;
    transition-timing-function:cubic-bezier(0.5,0.6,0.4,1);
}

/* NAVIGATION LINKS */
.nav-links-div {
    width: 33%;
    display: flex;
    flex-direction: row;
    justify-content: end;
    align-content: center;
    align-items: center;
}

.nav-item{
    display: flex;
    align-items: center;
    flex-direction: column;
    padding-right: 50px;
    width: 40px;
}

.nav-item-img{
    padding-bottom: 1%;
    display: flex;
    max-width: 25px;
    filter: invert(63%) sepia(16%) saturate(2208%) hue-rotate(159deg) brightness(93%) contrast(94%);
}

.nav-item a{
    font-family: 'Zen Kaku Gothic New', sans-serif;
    text-align: center;
    transition: 0.5s;
    font-size: 0;
    visibility: hidden;
    text-decoration: none;
    text-transform: uppercase;
    color: rgba(51, 51, 51, 1);
    font-weight: bolder;
}

.nav-item:hover a{
    transition: 1s;
    font-size: 12px;
    visibility: visible;
    color: rgba(42, 174, 230, 0.8);
}

.nav-mobile {
    display: flex;
    justify-content: end;
    width: 66%;
    padding-right: 50px;
}

#nav-mobile-icon {
    display: flex;
    width: 25px;
    filter: invert(63%) sepia(16%) saturate(2208%) hue-rotate(159deg) brightness(93%) contrast(94%);
}

#nav-mobile-icon:hover {
    cursor: pointer;
}

.nav-links-mobile {
    top: 0;
    width: 60px;
    height: 100%;
    background-color: rgba(255, 255, 255, 1);
    border-bottom: solid lightgray 1px;
    position: absolute;
    left: 0;
    display: flex;
    flex-direction: column;
    align-items: start;
    align-content: center;
    justify-content: start;
}

.icon-active {
    transform: rotate(180deg);
    transition: 1s;
}